.container {
    border: 1px solid blue;
    padding: 10px;
    height: 700px;
    display: grid;
    /*grid-template-rows: 100px 200px 300px;
    grid-template-columns: 1fr 2fr 3fr;*/

    grid-template: 1fr / repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;

    /*justify-items: start;
    align-items: end;*/

    /*place-items: end start;*/
}

.box {
    background-color: orange;
    border: 1px solid blue;
}